.d-flex.justify-content-between.align-items-center
  h2#current-month #{monthYear}
  .text-success(hidden='' data-activity-indicator='')
    .spinner-border.spinner-border-sm
    span Loading...
  div
    - var today = new Date().toDateString()
    button.btn.btn-secondary.me-2.btn-sm(type="button", hx-get="/today", hx-target="#calendar",
    data-bs-toggle="tooltip",
    data-bs-placement="top",
    title=today) Today

    button.btn.btn-secondary.ms-2.btn-sm(type="button", hx-get="/previous", hx-target="#calendar", 
    data-bs-toggle="tooltip", 
    data-bs-placement="top", 
    title="Previous Month")
      img(src="/icons/chevron-left.svg", alt="Previous")

    button.btn.btn-secondary.ms-2.btn-sm(type="button", hx-get="/next", hx-target="#calendar",
    data-bs-toggle="tooltip",
    data-bs-placement="top",
    title="Next Month")
      img(src="/icons/chevron-right.svg", alt="Next")

table.table.table-bordered.mt-2(id='calendar-')
  thead.table-dark
    tr.text-center
      each name in dayNames
        th(style='width:14%') #{name}
  tbody
    each row in rows
      tr.table-light
        each col in row
          - var today = new Date()
          - var month = today.getMonth()
          - var year = today.getFullYear()
          - var date = today.getDate()
          - var tdId = 'date-' + col + '-' + currentMonth + '-' + currentYear
          td(id=tdId, class={'table-info' : col === date && month === currentMonth && year === currentYear }, 
          hx-get="/modal?date=" + col + "-" + currentMonth + "-" + currentYear,
          hx-target="#modals-here",
          hx-trigger="click"
          _="on htmx:afterOnLoad wait 10ms then add .show to #modal then add .show to #modal-backdrop"
          )
            span #{col}
            .mt-2(id="events-" + col + "-" + currentMonth + "-" + currentYear,
              style="height:65px;overflow-y:auto")
#modals-here
